
*{
    margin: 0;
    padding: 0;
}

.banText{
    background-color: rgb(173, 84, 0);
}

.banText p {
    font-size: 2rem;
    text-align: center;
    padding: 3em;
}



.headers{
    
    display: flex;
    justify-content: center;
    text-align: center;
}
#navbar ul{
    display: flex;
}

#navbar ul li{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: none;

}

#navbar ul li a{
    text-decoration: none;
    color: green;
    font-size: 1.5rem;
}

.what{
    height: 49em;
    background-color: rgb(228, 187, 99);
}

article{
    margin-top: 90px;
}

article p{
    margin-top: 20px;
    margin-left: 30px;
}


footer{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}